include ../components/header
include ../components/footer
doctype html
block meta
  - title = t('HOME__META__TITLE')
  - keywords = t('HOME__META__KEYWORDS')
  - description = t('HOME__META__DESCRIPTION')
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="keywords", content=keywords)
    meta(name="description", content=description)
    title= title
    link(rel='stylesheet', href='/assets/css/main.css')
    link(
      href="https://fonts.googleapis.com/css?family=Hind&effect=wallpaper",
      rel="stylesheet"
    )
    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-117625267-1").
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-117625267-1');
    script.
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-117625267-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    script.
        (function (e, a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
        0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
        for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})
        (document, window.mixpanel || []);
        mixpanel.init("fb6f262c9ac2039f59ba90d10644001b");
  body
    +header
    //div#loader-wrapper
      //div#loader
      //div.loader-section.section-left
      //div.loader-section.section-right
    main.main
      #particles-js
      block content
        .container
          div Layout main content
    +footer

    //- link(rel='stylesheet', type='text/css', href=rev('css/main.css'))
    //script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='//cdn.rawgit.com/jonnyreeves/js-logger/master/src/logger.min.js')
    script(src='/assets/js/particles.js')
    script(src='/assets/js/bundle.js')

    //script(src='//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js')
    //- script(src='/resources/converter.js')